.post_container {
    max-width: 800px; // or whatever width you prefer
}

.post_list_item {
    max-width: 800px;
    > ul, > p, > h1, h2, h3, h4, h5, h6 {
        max-width: 800px;
    }
}

.header > div {
    max-width: 800px;
    * {
        max-width: 800px;
    }
}

blockquote {
    max-width: 800px;
}
