[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/getzola/hyde
[submodule "themes/solar-theme-zola"]
	path = themes/solar-theme-zola
	url = https://github.com/hulufei/solar-theme-zola
[submodule "pub"]
	path = pub
	url = git@github.com:digikata/digikata.github.io.git
	branch = pub
[submodule "themes/themes/ergo"]
	path = themes/themes/ergo
	url = https://github.com/insipx/Ergo
