[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/getzola/hyde
[submodule "themes/solar-theme-zola"]
	path = themes/solar-theme-zola
	url = https://github.com/hulufei/solar-theme-zola
