{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link
    rel="stylesheet"
    type="text/css"
    media="all"
    href="{{ get_url(path='custom.css', cachebust=true) }}"
  />
{% endblock head %}

{% block content %}
  {% if section.content %}
    <article>
      {{ section.content | safe }}
    </article>
  {% endif %}

  {% set pages = paginator.pages | default(value=section.pages) %}

  {% if pages %}
    <nav>
      {% for year, year_pages in pages | group_by(attribute="year") %}
        <h2 class="archive">{{ year }}</h2>
        <ul class="archive">
          {% for page in year_pages %}
            <li>
              <time datetime="{{page.date}}">{{ page.date | date(format="%d %b") }}</time>
              <a href="{{ page.permalink }}">{{ page.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </nav>
  {% endif %}

  {% if paginator %}
    <nav class="pagination">
      {% if paginator.previous %}
        <a href="{{ paginator.previous }}">&laquo; Newer</a>
      {% endif %}

      <span>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>

      {% if paginator.next %}
        <a href="{{ paginator.next }}">Older &raquo;</a>
      {% endif %}
    </nav>
  {% endif %}
{% endblock content %}

{% block body_end %}
  <!-- Cloudflare Web Analytics -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "6ab77b926eb94e3d839fd90c20f8194c"}'></script>
  <!-- End Cloudflare Web Analytics -->
{% endblock body_end %}
